<footer id="footer" class="midnight-blue">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				&copy; 2013 <a target="_blank" href="#" title="Free Twitter Bootstrap WordPress Themes and HTML templates">上海戾达实业有限公司</a>. All Rights Reserved.
			</div>
			<div class="col-sm-6">
				<ul class="pull-right">
					<li><a href="index.html">首页</a></li>
					<li><a href="portfolio.html">产品</a></li>
					<li><a href="contact-us.html">联系我们</a></li>
				</ul>
			</div>
		</div>
	</div>

   
</footer><!--/#footer-->
